
@{
    ViewBag.Title = "Hotels";
}

<h2>Hotels</h2>

<p>We are aware that people are coming for long distances to join us for our special day.  Here are some of the hotel options </p>

<div>
    <h3>The Peak Edge Hotel</h3>
    <img src="~/Content/images/Peak-Edge-Exterior-1160x430.jpg" alt="Peak Edge Hotel" />
    <p>The Peak Edge is where the reception will be happening on the day.  It is a small hotel so there will be limited rooms if you are wanting to stay here 
    we suggest you book early</p>
    <a href="http://www.peakedgehotel.co.uk/">Book Here</a>


</div>

<div>
    <h3>The Casa Hotel</h3>
    <img src="~/Content/images/Casa_HotelRoom.png" alt="Case Hotel Room " />
    <p>For those wanting a bit of luxery for the wedding then the Casa Hotel is Chesterfield premier hotel.  It is just to the north of Chesterfield town center and is a 20 min journey to the wedding</p>
    <a href="https://casahotels.co.uk/accommodation/">Book Here</a>
</div>

<div>
    <h3>The Ibis Hotel </h3>
    <img src="~/Content/images/ibisHotel.jpg" alt="Ibis Hotel" />
    <p>If you are wanting something a bit more budget friendly then Chesterfield has an Ibis hotel.  It is just outside the town center and is about 15 minutes from the venue</p>
    <a href="https://ibis.findhotels.deals/search.html?label=XUKHIBSGB1780H&hotelid=1209812&cityid=1438">Book Here</a>

</div>
<div>
    <h3>Town Centre Premiere Inn</h3>
    <img src="~/Content/images/pi-logo-white.svg" alt="Premiere Inn Logo " />
    <p>Another one for those lookig for a good deal.  Chesterfield has a Premiere Inn based right in the town center about 15 mins from the main venue. 
    This is Chesterfields newest hotel so hopefully the quality should be good</p>
    <a href="https://www.premierinn.com/gb/en/hotels/england/derbyshire/chesterfield/chesterfield-town-centre.html">Book Here</a>
</div>