@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="countDown">

    </div>

</div>
<div class="row">
    <p id="introText">
        Hi this is the website for all things for Stephen and Sharons wedding we are really looking forward to seeign you on our big day.  This is a website to give our guest useful information.

    </p>
</div>

<div class="row">
    <div class="col-8" id="announcements">
        
    </div>
    <div class="col-4" id=" = messages">
        
   
        
    </div>
</div>